html, body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFECCC;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

nav {
  display: flex;
  width: 85%;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #6e604e;
  font-size: large;
}

.navExperience {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #6e604e;
  font-size: large;
  font-weight: bold;
}

a:hover {
  color:  #ad977b;
}


.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  height: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90%;
  border-radius: 30px;
  background-color: #86745e;
  justify-content: flex-start;
  align-items: center;
}

.card h1 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #FFECCC;
}

.card h2 {
  font-size: 20px;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  color: #4b3e28;
  margin-bottom: 25px;
}

.card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  width: auto;
}

.item-with-space {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #FFECCC;
  padding-bottom: 10px;
}

li img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
}

.add-space {
  margin-top: 5px;
  margin-bottom: 5px;
}

.goIcon {
  width: 28px;
  height: 18px;
  padding-right: 5px;
}

